.acoes {
    display: flex;
    justify-content: flex-end
  }
  
  .botao-excluir ,
  .botao-editar,
  .botao-favorito {
    border: none;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 15px;
  }
  
  .transacao {
    background-color: #F8F9FE;
    padding: 1rem;
    box-sizing: border-box;
  }
  
  .transacao .conteudo {
    margin: 1rem auto;
    word-wrap: break-word;
  }
  
  .transacao .autoria {
    word-wrap: break-word;
  }
  
  .despesa {
    box-shadow: 8px 8px 0px #154580;
  }
  
  .receita {
    box-shadow: 8px 8px 0px #6BD1FF;
  }
  
  .transferencia {
    box-shadow: 8px 8px 0px #84EEC1;
  }
  
  .transacao-g {
    width: 556px;
  }
  
  .transacao-p {
    width: 262px;
  }
  
  @media screen and (max-width: 768px) {
    .transacao-g {
      width: 100%;
    }
  }
  @media screen and (max-width: 426px) {
    .transacao-p {
      width: 100%;
    }
  }