<section class="container">
    <header class="header d-flex">
        <div class="buscar-transacoes">
            <input 
                type="search" 
                class="filtro" 
                placeholder="O que você procura?" 
                autofocus 
                [(ngModel)]="filtro" 
                (keyup)="pesquisarTransacoes()"
            >
            <img src="/assets/imagens/lupa.png" alt="Lupa">
        </div>
        <h2 class="ff-inter">{{ titulo }}</h2>
        <div class="botoes">
            <button class="botao" (click)="recarregarComponente()">Minhas Transações</button>
            <button class="botao" (click)="listarFavoritos()">Meus Favoritos</button>
            <button routerLink="/criarTransacao" class="botao">Nova Transação</button>
        </div>
    </header>
    <div class="mural" *ngIf="listaTransacoes.length > 0, else semTransacoes">
        <div *ngFor="let transacao of listaTransacoes">
            <app-transacao [transacao]="transacao"
            [listaFavoritos]="listaFavoritos"
            ></app-transacao>
        </div>
    </div>
</section>
<app-botao-carregar-mais 
    [haMaisTransacoes]="haMaisTransacoes"
    (click)="carregarMaisTransacoes()"
>
</app-botao-carregar-mais>
<ng-template #semTransacoes>
    <div class="ff-inter sem-transacoes">
        <p>Nenhuma transação cadastrada!</p>
    </div>
</ng-template>