<section class="container criar-transacao ff-inter">
  <header class="header">
    <h2>Adicione uma nova transação:</h2>
  </header>
  <form [formGroup]="formulario">
    <label for="transacao">Transação</label>
    <input type="textarea" class="input" id="transacao" formControlName="conteudo" placeholder="Digite a descrição da transação">
    <div class="mensagem__erro" *ngIf="formulario.get('conteudo')?.errors && formulario.get('conteudo')?.touched">
      Descrição é obrigatória!
    </div>
    <label for="valor">Valor</label>
    <input type="number" class="input" id="valor" formControlName="valor" placeholder="Digite o valor" >
    <div class="mensagem__erro" *ngIf="formulario.get('valor')?.errors?.['required'] && formulario.get('valor')?.touched">
      Valor é obrigatória!
    </div>
    <div class="mensagem__erro" *ngIf="formulario.get('valor')?.errors?.['maxlength']">
      Valor muito grande!
    </div>
    <label for="transacao">Tipo Transação</label>
    <div class="container-radio">
      <div class="radio-modelo">
        <label for="despesa">
          <input type="radio" id="despesa" value="despesa" formControlName="modelo">
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Despesa</span>
        </label>
        Prévia:
        <div class="tipo-transacao despesa ff-roboto-mono">
          <img src="../../../../assets/imagens/despesa.png" alt="Aspas azuis">
          <p class="conteudo">{{ formulario.get('conteudo')?.value }}</p>
          <p class="valor"><b>{{ formulario.get('valor')?.value | currency }}</b></p>
        </div>
      </div>
      <div class="radio-modelo">
        <label for="receita">
          <input type="radio" id="receita" value="receita" formControlName="modelo">
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Receita</span>
        </label>
        Prévia:
        <div class="tipo-transacao receita ff-roboto-mono">
          <img src="../../../../assets/imagens/receita.png" alt="Aspas azuis claro">
          <p class="conteudo">{{ formulario.get('conteudo')?.value }}</p>
          <p class="valor"><b>{{ formulario.get('valor')?.value | currency }}</b></p>
        </div>
      </div>
      <div class="radio-modelo">
        <label for="transferencia">
          <input type="radio" id="transferencia" value="transferencia" formControlName="modelo">
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Transferência</span>
        </label>
        Prévia:
        <div class="tipo-transacao transferencia ff-roboto-mono">
          <img src="../../../../assets/imagens/transferencia.png" alt="Aspas verde">
          <p class="conteudo">{{ formulario.get('conteudo')?.value }}</p>
          <p class="valor"><b>{{ formulario.get('valor')?.value | currency }}</b></p>
        </div>
      </div>
    </div>
    <div class="acoes">
      <button [disabled]="!formulario.valid" (click)="criarTransacao()" [ngClass]="habilitarBotao()">Salvar</button>
      <button (click)="cancelar()" class="botao">Cancelar</button>
    </div>
  </form>
</section>
